/* STYLES FOR THE ABOUT SECTION */
.about {
  grid-column: 1 / 5;
  grid-row: 2;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.aboutContainerOne {
}

.aboutContainerTwo {
}

.aboutContentOne {
}

.aboutContentTwo {
}

.aboutHeadline {
}

.aboutData {
}

@media only screen and (max-width: 800px) {
  .about {
    height: 100vh;
  }
  .aboutContainerOne {
  }

  .aboutContainerTwo {
  }

  .aboutContentOne {
  }

  .aboutContentTwo {
  }
}
