/* STYLES FOR THE STACK SECTION */
.stack {
  grid-column: 1 / 5;
  grid-row: 3;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(51, 1fr);
  grid-template-rows: repeat(51, 1fr);
}

.stackDataOne {
  grid-column-start: 2;
  grid-column-end: 26;
  grid-row-start: 2;
  grid-row-end: 50;
}

.stackDataTwo {
  grid-column-start: 27;
  grid-column-end: 51;
  grid-row-start: 2;
  grid-row-end: 50;
}

@media only screen and (max-width: 800px) {
  .stack {
    height: 100vh;
  }
  .stackDataOne {
    grid-column-start: 2;
    grid-column-end: 51;
    grid-row-start: 2;
    grid-row-end: 26;
  }

  .stackDataTwo {
    grid-column-start: 2;
    grid-column-end: 51;
    grid-row-start: 27;
    grid-row-end: 51;
  }
}
