/* GLOBAL STYLES */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.3rem;
  background-color: #193549;
}

/* STYLES FOR THE HEADER */
.header {
  grid-column: 1 / 5;
  grid-row: 1;
  z-index: 1;
}

/* STYLES FOR THE VIDEO/IMAGE SECTION */
.video {
  grid-column: 1 / 5;
  grid-row: 1;
  height: 100vh;
}

.background-image {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  background-image: url("assets/backgroundImage2.jpg");
  grid-column: 1 / 5;
  grid-row: 1;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.callout {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 7;
  z-index: 1;
  opacity: 0.5;
  background-color: yellow;
}

@media only screen and (max-width: 600px) {
  .callout {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 7;
  }
}

.logo {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 7;
  font-family: "Open Sans", sans-serif;
  color: #193549;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 8vw;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  position: relative;
}
.logo:after {
  content: "Full Stack Developer";
  font-size: 15vw;
}
.logo:after {
  background-image: -webkit-linear-gradient(
    left top,
    transparent 0%,
    transparent 25%,
    #555 25%,
    #555 50%,
    transparent 50%,
    transparent 75%,
    #555 75%
  );
  background-size: 0.5vw 0.5vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -5;
  display: block;
  text-shadow: none;
}

@media only screen and (max-width: 600px) {
  .logo {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 6;
    font-size: 20vw;
  }
}

/* STYLES FOR THE ABOUT SECTION */
.about {
  grid-column: 1 / 5;
  grid-row: 2;
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.aboutData {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 7;
}

/* STYLES FOR THE STACK SECTION */
.stack {
  grid-column: 1 / 5;
  grid-row: 3;
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.stackData {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 7;
}

/* STYLES FOR THE CONTACT SECTION */
.contact {
  grid-column: 1 / 5;
  grid-row: 4;
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.contactData {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 7;
}

/* STYLES FOR THE FOOTER SECTION */
.footer {
  grid-column: 1 / 5;
  grid-row: 5;
  height: 25vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
