/* STYLES FOR THE FOOTER SECTION */
.footer {
  grid-column: 1 / 5;
  height: 10vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  background-color: #193549;
  justify-items: center;
  align-items: center;
}

.footerLogo {
  grid-column-start: 2;
  grid-column-end: 3;
}
